---
layout: default
title: People
permalink: /people/
---

<div class="row">
    <div class="col-md-6">
        <h2>Founders</h2>

        <p>
            Coding it Forward was founded by a trio of Harvard students who were
            passionate about building a community of people who want to use
            their technology skills for social good. Starting at Harvard,
            they've spread Coding it Forward nationwide.
        </p>

        {% for person in site.data.people.founders %}
          <div class="media">
            <div class="media-left">
                {% if person.image %}
                    <img class="media-object img-circle mini-media" src="/assets/images/people/{{ person.image }}" alt="{{ person.name}}, {{ person.bio }}">
                {% endif %}
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    {{ person.name }}

                    &nbsp;
                    {% if person.website %}
                      <a href="{{ person.website }}">
                          <i class="fa fa-globe"></i>
                          <span class="sr-only">{{ person.name }} ({{ person.school }}) website</span>
                      </a>
                    {% endif %}
                    {% if person.twitter %}
                      <a href="https://twitter.com/@{{ person.twitter }}">
                          <i class="fa fa-twitter"></i>
                          <span class="sr-only">{{ person.name }} ({{ person.school }}) Twitter</span>
                      </a>
                    {% endif %}
                    {% if person.linkedin %}
                      <a href="{{ person.linkedin }}">
                          <i class="fa fa-linkedin"></i>
                          <span class="sr-only">{{ person.name }} ({{ person.school }}) LinkedIn</span>
                      </a>
                    {% endif %}
                </h4>
              <p>
                  {{ person.school }} {{ person.class_of }} <br />
                  {{ person.email }}
              </p>
            </div>
          </div>
        {% endfor %}

        <!-- TODO extract the people-rendering code into a directive so it isn't duplicated -->
    </div>

    <div class="col-md-6">
        <h2>Mentors</h2>

        <p>
            We thank our mentors, who show us every day what a career using technology
            for social good looks like and help us connect our members with professional
            and academic opportunities.
        </p>

        <br />

        {% for person in site.data.people.mentors %}
          <div class="media">
              <div class="media-left">
                  {% if person.image %}
                      <img class="media-object img-circle mini-media" src="/assets/images/people/{{ person.image }}" alt="{{ person.name}}, {{ person.bio }}">
                  {% endif %}
              </div>
            <div class="media-body">
              <h4 class="media-heading">
                  {{ person.name }}

                  &nbsp;
                  {% if person.website %}
                    <a href="{{ person.website }}">
                        <i class="fa fa-globe"></i>
                        <span class="sr-only">{{ person.name }} website</span>
                    </a>
                  {% endif %}
                  {% if person.twitter %}
                    <a href="https://twitter.com/@{{ person.twitter }}">
                        <i class="fa fa-twitter"></i>
                        <span class="sr-only">{{ person.name }} Twitter</span>
                    </a>
                  {% endif %}
                  {% if person.linkedin %}
                    <a href="{{ person.linkedin }}">
                        <i class="fa fa-linkedin"></i>
                        <span class="sr-only">{{ person.name }} LinkedIn</span>
                    </a>
                  {% endif %}
              </h4>
              <p>
                  {{ person.bio }}
              </p>
            </div>
          </div>
        {% endfor %}
    </div>
</div>

<hr />

<h2>Campus Ambassadors</h2>

<p>
    Our Coding it Forward Campus Ambassadors are leaders at top schools around the country, spreading the word about technology for social good around their campus and helping get more students engaged in Coding it Forward. Our ambassadors have founded Coding it Forward-affiliated clubs at their schools, run hackathons, teach classes, and more.
</p>

<p>
    Interested in becoming a Coding it Forward Campus Ambassador? Contact Neel Mehta at neelmehta [at] college [dot] harvard [dot] edu, or message him through our <a href="https://www.facebook.com/groups/codingitforward">Coding it Forward Facebook group</a>.
</p>

<br />

<div class="row">
{% for person in site.data.people.ambassadors %}
    <div class="col-sm-6 col-md-3 add-top-margin">
        <div class="media">
    <div class="media-left">
        {% if person.image %}
            <img class="media-object img-circle mini-media" src="/assets/images/people/{{ person.image }}" alt="{{ person.name}}, {{ person.bio }}">
        {% endif %}
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            {{ person.name }}

            &nbsp;
            {% if person.website %}
              <a href="{{ person.website }}">
                  <i class="fa fa-globe"></i>
                  <span class="sr-only">{{ person.name }} ({{ person.school }}) website</span>
              </a>
            {% endif %}
            {% if person.twitter %}
              <a href="https://twitter.com/@{{ person.twitter }}">
                  <i class="fa fa-twitter"></i>
                  <span class="sr-only">{{ person.name }} ({{ person.school }}) Twitter</span>
              </a>
            {% endif %}
            {% if person.linkedin %}
              <a href="{{ person.linkedin }}">
                  <i class="fa fa-linkedin"></i>
                  <span class="sr-only">{{ person.name }} ({{ person.school }}) LinkedIn</span>
              </a>
            {% endif %}
        </h4>
      <p>
          {{ person.school }} {{ person.class_of }} <br />
          {{ person.email }}
      </p>
    </div>
  </div>
    </div>
{% endfor %}

</div>
