---
layout: default
title: Pipeline Program
description: Coding it Forward's Pipeline Program connects top students with unpaid technology and data science internships in federal agencies.

scripts:
    -   /assets/bootstrap/js/bootstrap.min.js
---

<div class="container">

    <br />

    <h2 class="lead">
        Coding it Forward's Pipeline Program connects top students with unpaid technology and data science internships in federal agencies.
    </h2>

    <p>
        Designed to be a supplement to Coding it Forward’s <a href="/fellowship">Civic Digital Fellowship</a>, the Pipeline Program helps students find unpaid public-sector internships and helps agencies recruit top talent quickly and effectively.
    </p>

    <a href="https://harvard.az1.qualtrics.com/jfe/form/SV_79TmnTIcE5MQJNP" class="btn btn-block btn-primary" target="_blank">
        Students: apply now!
    </a>



    <br />
    <div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

        <h2>Host Agencies</h2>

        <p>
            We will be connecting students with internships at the following agencies.
        </p>

        <br />

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            {% for posting in site.data.pipeline %}
                <li
                    {% if forloop.first %}
                        class="active"
                    {% endif %}
                >
                    <a href="#tab-{{ posting.agency.short }}" role="tab" data-toggle="tab">
                        {{ posting.agency.long }}
                    </a>
                </li>
            {% endfor %}
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">

              {% for posting in site.data.pipeline %}
                  <div role="tabpanel" id="tab-{{ posting.agency.short}}"
                    {% if forloop.first %}
                        class="tab-pane active"
                    {% else %}
                        class="tab-pane"
                    {% endif %}
                  >
                      <h2>{{ posting.agency.long }} ({{ posting.agency.short }})</h2>

                      <p class="lead">
                          The {{ posting.agency.short }} will be hiring <strong class="text-success">{{ posting.positions.number }} technology and data science interns for summer 2017.</strong> {{ posting.positions.eligibility }}
                      </p>

                      <p>{{ posting.program_structure }}</p>

                      <hr />

                      <div class="row">
                          <div class="col-sm-4">
                              <h4 class="text-primary"><i class="fa fa-calendar"></i> Dates</h4>
                              <p>{{ posting.dates }}</p>
                          </div>
                          <div class="col-sm-4">
                              <h4 class="text-primary"><i class="fa fa-map-marker"></i> Locations</h4>

                              <ul>
                                  {% for location in posting.locations %}
                                      <li>
                                          {{ location }}
                                      </li>
                                  {% endfor %}
                              </ul>
                          </div>
                          <div class="col-sm-4">
                              <h4 class="text-primary"><i class="fa fa-suitcase"></i> Benefits</h4>
                              <p>
                                  {% if posting.paid == false %}
                                      This position is unpaid. Applicants are encouraged to seek outside funding from their home university.
                                  {% else %}
                                      This is a paid internship.
                                  {% endif %}
                              </p>
                          </div>
                      </div>

                      <hr />

                      <h3>Projects</h3>
                      <p>
                           {{ posting.hiring_process }}
                      </p>
                      <ol>
                          {% for project in posting.projects %}
                              <li>
                                  <strong>{{ project.name }}</strong>: {{ project.description }}
                              </li>
                          {% endfor %}
                      </ol>

                      <hr />

                      <a href="https://harvard.az1.qualtrics.com/jfe/form/SV_79TmnTIcE5MQJNP" target="_blank" class="btn btn-primary btn-block">Apply now</a>
                      <br />
                      <br />
                  </div>
              {% endfor %}
          </div>

    </div>
    </div>



    <p>
        Coding it Forward is determined to inspire and empower individuals to use their technology skills for social good. We hope to connect students with meaningful opportunities in government at the forefront of the civic tech sector.
    </p>



    <h2>
        Get in touch
    </h2>

    <p>
        If you have any questions, feel free to contact Chris Kuang at ckuang [at] college [dot] harvard [dot] edu. Agencies: please contact Chris if you wish to be part of Coding it Forward's Pipeline Program!
    </p>

</div>
