---
---

// CUSTOM STYLING

// custom styles

// .header-image {
//     width: 100px;
// }

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    margin-bottom: 80px;
}

img.mini-media {
    width: 64px;
    height: 64px;
}


.footer {
    position: absolute;
    bottom: 0;

    /* Set the fixed height of the footer here */
    height: 60px;
    width: 100%;

    text-align: center;

    margin-bottom: 0;
}


.btn-text-wrap {
    white-space: normal;
}


.text-center {
    text-align: center;
    margin: auto;
}

.media.media-padded {
    padding: 0.5em;
}
